@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #F6A63D;
  --background: #ffffff;
  --foreground: #171717;
  --waveDarken: #0090EF;
  --waveLighter: #0099FF;
  --gray: #f9fafb;
  --gray-200: #E5E7EB;

}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  color: var(--foreground);
  background: var(--background);

}
